%tr(ng-if="#{vbms_field} || #{vacols_field}")
  %td
    %i.fa.fa-check.success(ng-if="#{vbms_field} == #{vacols_field}")
    %i.fa.fa-close.error(ng-if="#{vbms_field} != #{vacols_field}")
  %td
    %abbr(title=full_field_name)=field_name
  %td(ng-bind=vacols_field)
  %td
    %span(ng-if=vbms_field ng-bind=vbms_field)
    %em(ng-if="!#{vbms_field}") Not found
