%div#certifications-start(ng-controller="CertificationsStartController" ng-init="start.init()")
  %div{'ng-include' => asset_path('certifications/_header.html').inspect}

  %hr

  .row
    .col.col-md-12
      :markdown
        Verify that the dates in VACOLS and VBMS are the same for this appeal, and that it is ready for **Certification** and **Dispatch** to the Board of Appeals.

      %hr

  .row.section
    .col-sm-2.col-sm-offset-1.table-label Check Documents:

    .col-sm-6
      %table.table.table-hover
        %tr
          %th
          %th Document
          %th VACOLS
          %th VBMS
        = render_file "certifications/_table_row", |
            :field_name => "NOD", |
            :full_field_name => "Notice of Disagreement", |
            :vacols_field => "bfdnod", |
            :vbms_field => "efolder_nod"
        = render_file "certifications/_table_row", |
            :field_name => "SOC", |
            :full_field_name => "Statement of Case", |
            :vacols_field => "bfdsoc", |
            :vbms_field => "efolder_soc"

        = render_file "certifications/_table_row", |
            :field_name => "SSOC1", |
            :full_field_name => "Supplemental Statement of Case 1", |
            :vacols_field => "bfssoc1", |
            :vbms_field => "efolder_ssoc1"
        = render_file "certifications/_table_row", |
            :field_name => "SSOC2", |
            :full_field_name => "Supplemental Statement of Case 2", |
            :vacols_field => "bfssoc2", |
            :vbms_field => "efolder_ssoc2"
        = render_file "certifications/_table_row", |
            :field_name => "SSOC3", |
            :full_field_name => "Supplemental Statement of Case 3", |
            :vacols_field => "bfssoc3", |
            :vbms_field => "efolder_ssoc3"
        = render_file "certifications/_table_row", |
            :field_name => "SSOC4", |
            :full_field_name => "Supplemental Statement of Case 4", |
            :vacols_field => "bfssoc4", |
            :vbms_field => "efolder_ssoc4"
        = render_file "certifications/_table_row", |
            :field_name => "SSOC5", |
            :full_field_name => "Supplemental Statement of Case 5", |
            :vacols_field => "bfssoc5", |
            :vbms_field => "efolder_ssoc5"

        = render_file "certifications/_table_row", |
            :field_name => "Form 9", |
            :full_field_name => "Form 9", |
            :vacols_field => "bfd19", |
            :vbms_field => "efolder_form9"

  %hr

  .input-group(ng-show="certifications.data.info.datesMatch")
    %a.my-form-button(data-label="Continue" data-icon="chevron-right" data-color="primary" ng-href="#/certifications/{{certifications.data.info.bfkey}}/questions")

  .instructions(ng-show="certifications.data.info.showInstructions")
    .row
      .col-sm-6.col-sm-offset-1
        .alert.alert-danger{:role => "alert"}
          %span.glyphicon.glyphicon-exclamation-sign{:"aria-hidden" => "true"}
          Some of the files listed in VACOLS could not be found in VBMS.
        %p
          %strong Check to see if the missing file is in the appellant's eFolder:
          %ol
            %li
              %a{:href => "#"} Open and sign into VBMS.
            %li
              Search for this eFolder using the following ID:
              %code(ng-bind="certifications.data.info.efolder_id")
            %li Look for the missing file.
        %p
          %strong If you find the mssing file:
          %ol
            %li
              Open the file in VBMS.
              = render_file "certifications/_help_icon", :text => "Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
            %li
              Open the document properties
              = render_file "certifications/_help_icon", :text => "Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
            %li
              Change the file's receipt date to match the one listed in the VACOLS column above.
              = render_file "certifications/_help_icon", :text => "Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
            %li
              After you've changed the receipt date
              %a{:href => "#"} refresh
              this page and a green checkmark should appear in the file's row above
              = render_file "certifications/_help_icon", :text => "Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
        %p
          If you can't find the missing file in VBMS
          %a{:href => "#"} click here to report this case as un-certifiable.
