%div#certifications-start(ng-controller="CertificationsStartController" ng-init="start.init()")
  %div{'ng-include' => asset_path('certifications/_header.html').inspect}

  %hr

  .row
    .col.col-md-12
      :markdown
        Verify that the dates in VACOLS and VBMS are the same for this appeal, and that it is ready for **Certification** and **Dispatch** to the Board of Appeals.

      %hr

  .row.section
    .col-sm-2.col-sm-offset-2.table-label Check Documents:

    .col-sm-6
      %table.table.table-hover
        %tr
          %th
          %th Document
          %th VACOLS
          %th VBMS
        = render_file "certifications/_table_row", :field_name => "NOD", :vacols_field => "certifications.data.info.bfdnod", :vbms_field => "certifications.data.info.efolder_nod"
        = render_file "certifications/_table_row", :field_name => "SOC", :vacols_field => "certifications.data.info.bfdsoc", :vbms_field => "certifications.data.info.efolder_soc"

        = render_file "certifications/_table_row", :field_name => "SSOC1", :vacols_field => "certifications.data.info.bfssoc1", :vbms_field => "certifications.data.info.efolder_ssoc1"
        = render_file "certifications/_table_row", :field_name => "SSOC2", :vacols_field => "certifications.data.info.bfssoc2", :vbms_field => "certifications.data.info.efolder_ssoc2"
        = render_file "certifications/_table_row", :field_name => "SSOC3", :vacols_field => "certifications.data.info.bfssoc3", :vbms_field => "certifications.data.info.efolder_ssoc3"
        = render_file "certifications/_table_row", :field_name => "SSOC4", :vacols_field => "certifications.data.info.bfssoc4", :vbms_field => "certifications.data.info.efolder_ssoc4"
        = render_file "certifications/_table_row", :field_name => "SSOC5", :vacols_field => "certifications.data.info.bfssoc5", :vbms_field => "certifications.data.info.efolder_ssoc5"

        = render_file "certifications/_table_row", :field_name => "Form 9", :vacols_field => "certifications.data.info.bfd19", :vbms_field => "certifications.data.info.efolder_form9"

  %hr

  .input-group(ng-show="certifications.data.info.datesMatch")
    %a.my-form-button(data-label="Continue" data-icon="chevron-right" data-color="primary" ng-href="#/certifications/{{certifications.data.info.bfkey}}/questions")

  .instructions(ng-show="certifications.data.info.showInstructions")
    .row
      .col.col-md-12
        %p Sorry! The document dates do not match between VACOLS and VBMS. Please do the following to fix:
        %ol
          %li Login to VBMS.
          %li
            Do an eFolder search for
            %span(ng-bind="certifications.data.info.efolder_id")
            \.
          %li For documents that have "Not Found" listed above, but do actually exist in the eFolder, make sure that the receipt date field is set in VBMS.
          %li For documents that have an incorrect date in VBMS, fix the receipt date in VBMS.
          %li For documents that have "Not Found" listed above and are not actually in VBMS, please fill out the paperwork, getting information from the appellant as needed.
          %li After complete, refresh this page to continue certifying.
        %p You may want to bookmark this page so that you can return here later.
