<%
if defined?(input_name)
   input_id = "#{input_name}_input_id"
end

if defined?(show_when)
  show_when = " data-showwhen=\"#{show_when}\""
end

if defined?(div_id) && div_id
  div_id = " id=\"#{div_id}\" "
end
%>

<div class="cf-form-textinput <%= div_class if defined?(div_class) %>" <%= %Q(id=#{parent_id}) if defined?(parent_id) %> <%= 'hidden' if defined?(hidden) && hidden %> <%= show_when if defined?(show_when) && show_when %>>
    <label for="<%= input_id %>" <%= 'class=required' if defined?(required) && required %>>
        <strong><%= question_num if defined?(question_num) && question_num %></strong>
        <%= question %>
        <span class="usa-input-error-message"></span>
    </label>

    <input type="type" name="<%= input_name %>" <% if defined?(value) && value %> value="<%=value%>" <% end %> class="form-control" <%= 'required' if defined?(required) && required %> id="<%= input_id %>" <%= 'disabled' if defined?(disabled) && disabled %>>
</div>
<% if defined?(close_fieldset) && close_fieldset %>
</fieldset>
<% end %>
