<%#
    Used for Form 8 fields with questions that have a text-based response

   Partial requires the following arguments:
    - question: Prompting question text for input
    - question_num: Field 8 form number for the question
    - input_name: The input text field's name attribute

    Optional arguments include:
    - div_id: The ID attribute of the containing div
    - div_class: The class attribute of the containing div
    - max_length: The number of characters a response can maximally include. 45 is default.
    - closing_hr: true/false, show a horizontal rules at the end (default: true)
    - required: true/false, if a field is required (default: false)
    - close_fieldset: Whether this fieldset should be closed (default: false)

%>

<% input_id = "#{input_name}_input_id" %>
<% show_when = "data-showwhen=#{show_when}" %>

<p class="form8-text-input <%= div_class if defined?(div_class) %>" id="<%= div_id if defined?(div_id) %>" <%= 'hidden' if defined?(hidden) && hidden %> <%= show_when if defined?(show_when) && show_when %>>
    <label for="<%= input_id %>" <%= 'class=required' if defined?(required) && required %>>
        <b><%= question_num %></b>
        <%= question %>
    </label>
    <input text="text" name="<%= input_name %>" maxlength="<%= defined?(max_length) ? max_length : 45 %>" class="form-control" <%= 'required' if defined?(required) && required %> id="<%= input_id %>">
</p>
<% if defined?(close_fieldset) && close_fieldset %>
</fieldset>
<% end %>
