<%#
    A 3 row checkbox column for Form 8 fields (designed for question 13)

   Partial requires the following arguments:
    - label1_text: Label for the first checkbox
    - input1_name: Name attribute for the first checkbox
    - label2_text: Label for the second checkbox
    - input2_name: Name attribute for the second checkbox
    - label3_text: Label for the third checkbox
    - input3_name: Name attribute for the third checkbox

%>

<div class="usa-width-one-third">
    <div class="checkbox">
      <input type="checkbox" name="<%= input1_name %>" id="CHECK__<%= input1_name %>">
      <label for="CHECK__<%= input1_name %>">
        <%= label1_text %>
      </label>
    </div>

    <div class="checkbox">
        <input type="checkbox" name="<%= input2_name %>" id="CHECK__<%= input2_name %>">
        <label for="CHECK__<%= input2_name %>">
            <%= label2_text %>
        </label>
    </div>
    <div class="checkbox">
      <input type="checkbox" name="<%= input3_name %>" id="CHECK__<%= input3_name %>">
      <label for="CHECK__<%= input3_name %>">
          <%= label3_text %>
      </label>
    </div>
    <div class="checkbox">
      <input type="checkbox" name="<%= input4_name %>" id="CHECK__<%= input4_name %>">
      <label for="CHECK__<%= input4_name %>">
          <%= label4_text %>
      </label>
   </div>
   <div class="checkbox">
     <input type="checkbox" name="<%= input5_name %>" id="CHECK__<%= input5_name %>">
     <label for="CHECK__<%= input5_name %>">
         <%= label5_text %>
     </label>
  </div>
 </div>
