<%#
    Prompts the user with a binary question (yes/no, option1/option2, etc)

    Partial requires the following arguments:
    - question: Text of the question being asked
    - question_num: The Form 8 question number
    - input_name: Name for the radio input fields
    - option1_label: Text for the first option
    - option1_name: Input name attribute for the first option
    - option1_value: Input value attribute for the first option
    - option2_label: Text for the second option
    - option2_name: Input name attribute for the second option
    - option2_value: Input value attribute for the second option

    The following are optional arguments:
    - div_id: The ID attribute of the containing div
    - div_class: The class attribute of the containing div
    - input_onchange: Javascript action triggered when selection changes (onchange handler)
%>

<div class="form8-two-radio <%= div_class if defined?(div_class) %>" id="<%= div_id if defined?(div_id) %>">
    <div class="row">
      <div class="col col-md-12">
        <strong><%= question_num %></strong>
        <%= question %>
      </div>
    </div>
    <div class="row">
      <div class="col col-md-6">
        <div class="input-group">
          <label>
            <input type="radio" name="<%= input_name %>" value="<%= option1_value %>" onchange="<%= input_onchange if defined?(input_onchange) %>">
            <%= option1_label %>
          </label>
          <label>
            <input type="radio" name="<%= input_name %>" value="<%= option2_value %>" onchange="<%= input_onchange if defined?(input_onchange) %>">
            <%= option2_label %>
          </label>
        </div>
      </div>
    </div>

  <hr/>
</div>