<%#
    Used for Form 8 fields with questions that have a text-based response

   Partial requires the following arguments:
    - question: Prompting question text for input
    - question_num: Field 8 form number for the question
    - input_name: The input text field's name attribute

    Optional arguments include:
    - div_id: The ID attribute of the containing div
    - div_class: The class attribute of the containing div
    - max_length: The number of characters a response can maximally include. 45 is default.
    - required: true/false, if a field is required (default: false)
    - requirecond: true/false, if a field is part of a conditionally-required fieldset.
    - close_fieldset: Whether this fieldset should be closed (default: false)

%>

<% input_id = "#{input_name}_input_id" %>

<div class="form8-text-input <%= div_class if defined?(div_class) %>" <%= %Q(id=#{parent_id}) if defined?(parent_id) %><%= ' hidden' if defined?(hidden) && hidden %> <%= 'data-showwhen="#{show_when}"' if defined?(show_when) && show_when %> <%= 'data-requiredifshown' if defined?(requiredifshown) && requiredifshown %>>
    <label for="<%= input_id %>" <%= 'class=required' if defined?(required) && required %>>
        <strong><%= question_num if defined?(question_num) && question_num %></strong>
        <%=raw question %>
    </label>
    <input type="text" name="<%= input_name %>" maxlength="<%= defined?(max_length) ? max_length : 45 %>"
    value="<%= value if defined?(value) && value %>"
    <%= 'required' if defined?(required) && required %> id="<%= input_id %>"
    <%= 'disabled' if defined?(disabled) && disabled %>
    <%= 'data-requiredifshown' if defined?(requiredifshown) && requiredifshown %>>
</div>
<% if defined?(close_fieldset) && close_fieldset %>
   </fieldset>
</fieldset>
<% end %>
