<div class="col col-md-2">
  <div class="input-group">
    <div class="checkbox">
      <label>
        <input type="checkbox" name="<%= input1_name %>" onchange="<%= input1_onchange if defined?(input1_onchange) %>"></input>
        <%= label1_text %>
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="<%= input2_name %>" onchange="<%= input2_onchange if defined?(input2_onchange) %>"></input>
        <%= label2_text %>
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="<%= input3_name %>" onchange="<%= input3_onchange if defined?(input3_onchange) %>"></input>
        <%= label3_text %>
      </label>
    </div>
  </div>
</div>