<% content_for :page_title do %>Login<% end %>

<%= form_tag(action: :login_ro_submit) do %>

  <% if @error_message %>

  <div class="usa-alert usa-alert-error cf-app-segment" role="alert">
    <div class="usa-alert-body">
      <h3 class="usa-alert-heading"><%= @error_message %></h3>
    </div>
  </div>
  <% end %>

  <div class="cf-app-segment">
      <h1>Welcome to Caseflow!</h1>
      <p>Caseflow helps you certify an appeal by making sure all documents necessary for certification are in the eFolder. If all documents are accounted for, Caseflow will assist with filling out an electronic Form 8.</p>

      <p>Please log in using your <strong>VACOLS credentials.</strong></p>


      <% username_input_id = 'username_input_id' %>
      <div>
          <label for="<%= username_input_id %>"><strong>VACOLS Login ID</strong></label>
          <input name="username" type="text" id="<%= username_input_id %>" class="cf-login-input" autofocus="autofocus"/>
          <span class="cf-txt-example">Example: RO06</span>
      </div>

      <% password_input_id = 'password_input_id' %>
      <div>
           <label for="<%= password_input_id %>"><strong>VACOLS Password</strong></label>
           <input name="password" type="password" id="<%= password_input_id %>" class="cf-login-input"/>
      </div>

      <p>
            <input type="submit" value="Login"/>
      </p>

  </div>
<% end %>
