<% content_for :page_title do %>Login<% end %>

<%= form_tag(action: :login_ro_submit) do %>

  <% if @error_message %>

  <div class="usa-alert usa-alert-error usa-cf_app-segment" role="alert">
    <div class="usa-alert-body">
      <h3 class="usa-alert-heading"><%= @error_message %></h3>
    </div>
  </div>
  <% end %>

  <div class=" usa-cf_app-segment">
    <div class="col col-md-2">
    </div>
    <div class="col col-md-6">
      <h1>Welcome to Caseflow!</h1>
      <p>Caseflow helps certify an appeal by verifying documents
      in the eFolder and helping you fill out an electronic Form 8.
      Please log in using your <strong>VACOLS credentials.</strong></p>
    </div>
    <div id="login-login-form" class="col col-md-3">
      <% username_input_id = 'username_input_id' %>
      <div class="row">
        <div class="col col-md-3">
          <label for="<%= username_input_id %>"><strong>VACOLS Login ID</strong> (example: <code>RO06</code>)</label>
        </div>
      </div>

      <div class="row">
        <div class="col col-md-3">
          <input name="username" type="text" id="<%= username_input_id %>" autofocus="autofocus" placeholder="Example: RO06"/>
        </div>
      </div>

      <% password_input_id = 'password_input_id' %>
      <div class="row">
        <div class="col col-md-3">
          <label for="<%= password_input_id %>"><strong>VACOLS Password</strong></label>
        </div>
      </div>

      <div class="row">
        <div class="col col-md-3">
          <input name="password" type="password" id="<%= password_input_id %>"/>
        </div>
      </div>

      <div id="login-login-button" class="row">
        <div class="col col-md-3">
          <div class="input-group">
            <input type="submit" value="Login" class="btn btn-primary"/>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-md-1">
    </div>
  </div>
<% end %>
