<% content_for :page_title do %>Complete Electronic Form 8<% end %>

<%= form_tag({action: :questions_submit}, {id: 'question-form', class: 'cf-form cf-app-segment'}) do %>

<div class="usa-alert usa-alert-success cf-app-segment" role="alert">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">All documents detected!</h3>
    <p class="usa-alert-text">The Form 9, <abbr>NOD</abbr>, <abbr>SOC</abbr> and <abbr>SSOC</abbr>s (if applicable) were found in the eFolder.</p>
  </div>
</div>

  <div class="cf-app-segment cf-app-segment--alt">
      <header>
          <h2>Complete Electronic Form 8</h2>
          <p>Caseflow pre-fills a Form 8 using data from VACOLS and VBMS. Answer the remaining questions below and click continue.</p>
          <p class="cf-required-msg">Fields marked with a <strong class="cf-error">*</strong> are required.</p>
      </header>

      <%= render partial: 'form8_text', locals: {
             div_id: '1A-appellant',
             question: "Name of Appellant (If other than veteran)",
             question_num: '1A',
             input_name: '1A_NAME_OF_APPELLANT',
             value: @kase.correspondent.appellant_name,
         } %>


       <%= render partial: 'form8_text', locals: {
           div_id: '1A-appellant-relationship',
           question: "Relationship to Veteran",
           question_num: '1B',
           input_name: '1B_RELATIONSHIP_TO_VETERAN',
           value: @kase.correspondent.appellant_relationship,
       } %>

      <%= render partial: 'form8_text', locals: {
          div_id: '2-file-no',
          div_class: 'cf-form-disabled',
          question: "File no.",
          question_num: '2',
          input_name: '2_FILE_NO',
          value: @kase.bfcorlid,
          required: true,
          disabled: true,
      } %>


       <%= render partial: 'form8_text', locals: {
            div_id: '3-vet-name',
            question: "Full Veteran Name",
            question_num: '3',
            input_name: '3_LAST_NAME_FIRST_NAME_MIDDLE_NAME_OF_VETERAN',
            value: @kase.correspondent.full_name,
            required: true,
        } %>

      <%= render partial: 'form8_text', locals: {
           div_id: '4-insurance-loan-number',
           question: "Insurance file number or loan number (if pertinent)",
           question_num: '4',
           input_name: '4_INSURANCE_FILE_NO_OR_LOAN_NO',
           value: @kase.bfpdnum,
       } %>


    <fieldset class="cf-form-cond-req">
       <%= render partial: 'form8_textarea', locals: {
            div_id: '5a-service-connection-for',
            question: "Service connection for:",
            question_num: '5A',
            input_name: '5A_SERVICE_CONNECTION_FOR',
            value: Caseflow.format_issues(@kase, 'service connection'),
            linkedto: '#5B_DATE_OF_NOTIFICATION_OF_ACTION_APPEALED_input_id',
        } %>

        <%= render partial: 'form8_date', locals: {
             div_class: 'cf-form-disabled',
             div_id: '5b-date-notice',
             question: "Date of notification of action appealed",
             question_num: '5B',
             input_name: '5B_DATE_OF_NOTIFICATION_OF_ACTION_APPEALED',
             value: Caseflow.format_issues(@kase, 'service connection') != '' ? Date.parse(@kase.bfdrodec_date) : '',
             value: Caseflow.format_issues(@kase, 'service connection') != '' ? @kase.bfdrodec_date : '',
             hidden: true,
         } %>
    </fieldset>

    <fieldset class="cf-form-cond-req">
       <%= render partial: 'form8_textarea', locals: {
            div_id: '6a-increased-rating',
            question: "Increased rating for",
            question_num: '6A',
            input_name: '6A_INCREASED_RATING_FOR',
            value: Caseflow.format_issues(@kase, 'increased rating'),
            linkedto: "#6B_DATE_OF_NOTIFICATION_OF_ACTION_APPEALED_input_id",
        } %>

        <%= render partial: 'form8_date', locals: {
             div_id: '6b-date-notice',
             question: "Date of notification of action appealed",
             question_num: '6B',
             input_name: '6B_DATE_OF_NOTIFICATION_OF_ACTION_APPEALED',
             value: Caseflow.format_issues(@kase, 'increased rating') != '' ? Date.parse(@kase.bfdrodec_date) : '',
             hidden: true,
         } %>
    </fieldset>

    <fieldset class="cf-form-cond-req">
       <%= render partial: 'form8_textarea', locals: {
            div_id: '7a-increased-rating',
            question: "Other",
            question_num: '7A',
            input_name: '7A_OTHER',
            value: Caseflow.format_issues(@kase, 'other'),
            linkedto: "#7B_DATE_OF_NOTIFICATION_OF_ACTION_APPEALED_input_id",
        } %>

        <%= render partial: 'form8_date', locals: {
             div_id: '7b-date-notice',
             question: "Date of notification of action appealed",
             question_num: '7B',
             input_name: '7B_DATE_OF_NOTIFICATION_OF_ACTION_APPEALED',
             value: Caseflow.format_issues(@kase, 'other') != '' ? Date.parse(@kase.bfdrodec_date) : '',
             hidden: true,
         } %>
    </fieldset>

    <%= render partial: 'form8_text', locals: {
         div_id: '8a-appellant-rep',
         question: "Appellant represented in this appeal by (name of organization, attorney or agent)",
         question_num: '8A',
         input_name: '8A_APPELLANT_REPRESENTED_IN_THIS_APPEAL_BY',
         value: @kase.vso_full,
         required: true,
     } %>

      <% if @kase.required_fields[:show_8b] %>
        <%= render partial: 'form8_radio_inputs', locals: {
                question: 'Veteran has chosen a power of attorney, the authority recognizing such is',
                question_num: '8B',
                input_name: '8B_POWER_OF_ATTORNEY',
                parent_class: ['cf-form-radio-inline'],
                options: [{
                    label: 'Located in the veteran\'s appeal file',
                    value: '8B_POWER_OF_ATTORNEY',
                    id: '8B_POWER_OF_ATTORNEY',
                },
                {
                    label: 'Located in another VA file',
                    value: '8B_CERTIFICATION_THAT_VALID_POWER_OF_ATTORNEY_IS_IN_ANOTHER_VA_FILE',
                    id: '8B_CERTIFICATION_THAT_VALID_POWER_OF_ATTORNEY_IS_IN_ANOTHER_VA_FILE',
                }],
            } %>

        <%= render partial: 'form8_text', locals: {
                div_id: '8b-explanation',
                question: '<em>Specify file if applicable</em>',
                question_num: '',
                input_name: '8B_REMARKS',
                close_fieldset: true,
            } %>
      <% end %>

      <%= render partial: 'form8_yes_no_radio', locals: {
                question: 'The agent designated, is he/she on accredited list',
                question_num: '8C',
                input_name: '8C_IF_AGENT_DESIGNATED_IS_HE_SHE_ON_ACCREDITED_LIST',
                parent_class: ['cf-form-radio-inline'],
                required: true,
                close_fieldset: true,
       } %>


     <%= render partial: 'form8_yes_no_radio', locals: {
            question: 'Representative is service organization, is VA Form 646, or equivalent, of record?',
            question_num: '9A',
            input_name: '9A_IF_REPRESENTATIVE_IS_SERVICE_ORGANIZATION_IS_VA_FORM_646',
            parent_class: ['cf-form-radio-inline'],
     } %>

     <%= render partial: 'form8_text', locals: {
            div_id: '9b',
            question: 'If VA form 646 is not of record, explain',
            question_num: '9B',
            input_name: '9B_IF_VA_FORM_646_IS_NOT_OF_RECORD_EXPLAIN',
            close_fieldset: true,
        } %>


    <%= render partial: 'form8_yes_no_radio', locals: {
           question: 'Was hearing requested?',
           question_num: '10A',
           input_name: '10A_WAS_HEARING_REQUESTED',
           parent_class: ['cf-form-radio-inline'],
           required: true,
           selected: @kase.hearing_requested?
     } %>


    <% render partial: 'form8_radio_inputs', locals: {
            question: 'If the hearing was held, is transcript on file?',
            question_num: '10B',
            input_name: '10B_IF_HELD_IS_TRANSCRIPT_IN_FILE',
            options: [{
                label: 'Yes',
                value: 'yes',
                id: '10B_YES',
            },
            {
                label: 'No',
                value: 'no',
                id: '10B_NO',
            },
            {
                label: 'N/A',
                value: '10B_NOT_APPLICABLE',
                id: '10B_NOT_APPLICABLE',
            }],
        } %>

      <%= render partial: 'form8_text', locals: {
              div_id: '10c',
              question: 'If requested, but not held, explain',
              question_num: '10C',
              input_name: '10C_IF_REQUESTED_BUT_NOT_HELD_EXPLAIN',
              close_fieldset: true,
          } %>

      <%= render partial: 'form8_yes_no_radio', locals: {
              question: 'Are contested claims procedures applicable in this case?',
              question_num: '11A',
              input_name: '11A_ARE_CONTESTED_CLAIMS_PROCEDURES_APPLICABLE_IN_THIS_CASE',
              required: true,
              toggle: true,
              parent_class: ['cf-form-radio-inline'],
              linked: '#Q11B',
              show_when: '11A_NO'
          } %>



      <%= render partial: 'form8_yes_no_radio', locals: {
              question: 'Have the requirements of 38 U.S.C. 7105A been followed for all contested claims?',
              question_num: '11B',
              parent_class: ['cf-form-radio-inline'],
              input_name: '11B_HAVE_THE_REQUIREMENTS_OF_38_USC_BEEN_FOLLOWED',
              parent_id: 'Q11B',
              close_fieldset: true,
          } %>

      </fieldset><%# Closes nested fieldset for question 11b %>
  </fieldset><%# Closes nested fieldset parent (Question 11a) %>

   <%= render partial: 'form8_date', locals: {
          div_id: '12A-date',
          question: 'Date of statement of the case furnished',
          question_num: '12A',
          input_name: '12A_DATE_STATEMENT_OF_THE_CASE_FURNISHED',
          required: true,
          value: Date.parse(@kase.bfdsoc_date),
      } %>

      <%= render partial: 'form8_radio_inputs', locals: {
              question: 'Supplemental statement of the case',
              question_num: '12B',
              input_name: '12B_SUPPLEMENTAL_STATEMENT_OF_THE_CASE',
              parent_id: '12B',
              close_fieldset: true,
              required: true,
              options: [{
                  label: 'Required and furnished',
                  value: '12B_REQUIRED_AND_FURNISHED',
                  id: '12B_REQUIRED_AND_FURNISHED',
                  checked: @kase.ssoc_required?,
              },
              {
                  label: 'Not required',
                  value: '12B_NOT_REQUIRED',
                  id: '12B_NOT_REQUIRED',
                  checked: !@kase.ssoc_required?,
              }]
          } %>


      <fieldset>
        <legend>
          <strong>13</strong>
          Records to be forwarded to Board of Veterans' Appeals
        </legend>

        <div class="usa-grid-full">
          <%= render partial: 'form8_checkbox_column', locals: {
                  label1_text: 'CF OR XCF',
                  input1_name: '13_RECORDS_TO_BE_FORWARDED_TO_BOARD_OF_VETERANS_APPEALS_CF_OR_XCF',
                  label2_text: 'INACTIVE CF',
                  input2_name: '13_RECORDS_TO_BE_FORWARDED_TO_BOARD_OF_VETERANS_APPEALS_INACTIVE_CF',
                  label3_text: 'DENTAL F',
                  input3_name: '13_RECORDS_TO_BE_FORWARDED_TO_BOARD_OF_VETERANS_APPEALS_DENTAL_F',
                  label4_text: 'R&E F',
                  input4_name: '13_RECORDS_TO_BE_FORWARDED_TO_BOARD_OF_VETERANS_APPEALS_REF',
                  label5_text: 'TRAINING SUB-F',
                  input5_name: '13_RECORDS_TO_BE_FORWARDED_TO_BOARD_OF_VETERANS_APPEALS_TRAINING_SUBF',
              } %>
          <%= render partial: 'form8_checkbox_column', locals: {
                  label1_text: 'LOAN GUAR. F',
                  input1_name: '13_RECORDS_TO_BE_FORWARDED_TO_BOARD_OF_VETERANS_APPEALS_LOAD_GUAR',
                  label2_text: 'OUTPATIENT F',
                  input2_name: '13_RECORDS_TO_BE_FORWARDED_TO_BOARD_OF_VETERANS_APPEALS_OUTPATIENT_F',
                  label3_text: 'HOSPITAL COR.',
                  input3_name: '13_RECORDS_TO_BE_FORWARDED_TO_BOARD_OF_VETERANS_APPEALS_HOSPITAL_COR',
                  label4_text: 'CLINICAL REC.',
                  input4_name: '13_RECORDS_TO_BE_FORWARDED_TO_BOARD_OF_VETERANS_APPEALS_CLINICAL_REC',
                  label5_text: 'X-RAYS',
                  input5_name: '13_RECORDS_TO_BE_FORWARDED_TO_BOARD_OF_VETERANS_APPEALS_XRAYS',
              } %>
          <%= render partial: 'form8_checkbox_column', locals: {
                  label1_text: 'SLIDES',
                  input1_name: '13_RECORDS_TO_BE_FORWARDED_TO_BOARD_OF_VETERANS_APPEALS_SLIDES',
                  label2_text: 'TISSUE BLOCKS',
                  input2_name: '13_RECORDS_TO_BE_FORWARDED_TO_BOARD_OF_VETERANS_APPEALS_TISSUE_BLOCKS',
                  label3_text: 'DEP. ED. F (Ch. 35)',
                  input3_name: '13_RECORDS_TO_BE_FORWARDED_TO_BOARD_OF_VETERANS_APPEALS_DEP_ED_F',
                  label4_text: 'INSURANCE F',
                  input4_name: '13_RECORDS_TO_BE_FORWARDED_TO_BOARD_OF_VETERANS_APPEALS_INSURANCE_F',
                  label5_text: 'OTHER',
                  input5_name: '13_RECORDS_TO_BE_FORWARDED_TO_BOARD_OF_VETERANS_APPEALS_OTHER',
              } %>
        </div>
          <%= render partial: 'form8_text', locals: {
                  question: 'Specify Other',
                  question_num: '',
                  input_name: '13_RECORDS_TO_BE_FORWARDED_TO_BOARD_OF_VETERANS_APPEALS_OTHER_REMARKS',
                  div_id: '13_Specify_Other',
          } %>

    </fieldset>


      <%= render partial: 'form8_textarea', locals: {
              question: 'Remarks',
              question_num: '14',
              input_name: '14_REMARKS_INITIAL',
              div_id: '14',
       } %>

       <%= render partial: 'form8_text', locals: {
               question: 'Name and location of certifying office',
               question_num: '15',
               input_name: '15_NAME_AND_LOCATION_OF_CERTIFYING_OFFICE',
               max_length: 40,
               required: true,
               disabled: true,
               div_class: 'cf-form-disabled',
               value: @kase.regional_office_full,
       } %>

       <%= render partial: 'form8_text', locals: {
               question: 'Organizational elements certifying appeal',
               question_num: '16',
               input_name: '16_ORGANIZATIONAL_ELEMENT_CERTIFIYING_APPEAL',
               max_length: 40,
               required: true,
               disabled: true,
               div_class: 'cf-form-disabled',
               value: @kase.bfregoff,
       } %>

      <%= render partial: 'form8_text', locals: {
              question: 'Name of Certifying Official',
              question_num: '17A',
              input_name: '17A_SIGNATURE_OF_CERTIFYING_OFFICIAL',
              max_length: 40,
              required: true,
              value: session.has_key?(:full_auth_data) ? "#{session[:full_auth_data]["info"]["first_name"]} #{session[:full_auth_data]["info"]["last_name"]}" : nil,
      } %>

      <%= render partial: 'form8_text', locals: {
              question: 'Title of Certifying Official',
              question_num: '17B',
              input_name: '17B_TITLE',
              required: true,
          } %>

          <%= render partial: 'form8_date', locals: {
                  question: 'Date',
                  question_num: '17C',
                  input_name: '17C_DATE',
                  required: true,
                  value: Time.now.strftime('%Y-%m-%d'),
                  disabled: true,
                  div_class: 'cf-form-disabled',
              } %>
  </div>

  <div class="cf-app-segment">
      <a href="#confirm-cancel-certification" class="cf-action-openmodal cf-btn-link">Cancel certification</a>
      <button type="submit" class="cf-push-right">Preview Completed Form 8</button>
  </div>

  <%= render partial: 'cancel_cert_modal' %>

<% end %>
