<%#
    Page requires the following local variables to be defined:
    - @kase: A Case object
%>
<% content_for :page_title do %>Mismatched Documents<% end %>

<div id="certifications-start">

    <div class="usa-alert usa-alert-error usa-cf_app-segment" role="alert">
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">Cannot find documents in VBMS</h3>
        <p class="usa-alert-text">Some of the files listed in VACOLS could not be found in VBMS.</p>
      </div>
    </div>


  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2>Find missing documents</h2>

      <p>
        Caseflow could not find the documents with an <strong>X</strong> below,
        in the appellant’s eFolder. Try <strong>looking for</strong> the missing
        document in VBMS and <strong>changing its date</strong> to the date in
        the VACOLS column. After changing the date, click the
        <strong>Refresh Page</strong> button below.
      </p>

      <p>
        If you can’t find the document click the
        <strong>This case cannot be certified</strong> link below.
      </p>
    </div>
  </div>

  <div class="document-table row section">
    <div class="col-sm-6 col-sm-offset-3">
      <table class="table table-hover">
        <caption class="hidden">
          This table compares received dates for forms stored in VACOLS and VBMS.
        </caption>
        <tr>
          <th></th>
          <th>Document</th>
          <th>VACOLS</th>
          <th>VBMS</th>
        </tr>
        <%= render partial: 'table_row', locals: {field_name: 'NOD', vacols_field: @kase.bfdnod_date, vbms_field: @kase.efolder_nod_date} %>
        <%= render partial: 'table_row', locals: {field_name: 'SOC', vacols_field: @kase.bfdsoc_date, vbms_field: @kase.efolder_soc_date} %>
        <%= render partial: 'table_row', locals: {field_name: 'SSOC 1', vacols_field: @kase.bfssoc1_date, vbms_field: @kase.efolder_ssoc1_date} %>
        <%= render partial: 'table_row', locals: {field_name: 'SSOC 2', vacols_field: @kase.bfssoc2_date, vbms_field: @kase.efolder_ssoc2_date} %>
        <%= render partial: 'table_row', locals: {field_name: 'SSOC 3', vacols_field: @kase.bfssoc3_date, vbms_field: @kase.efolder_ssoc3_date} %>
        <%= render partial: 'table_row', locals: {field_name: 'SSOC 4', vacols_field: @kase.bfssoc4_date, vbms_field: @kase.efolder_ssoc4_date} %>
        <%= render partial: 'table_row', locals: {field_name: 'SSOC 5', vacols_field: @kase.bfssoc5_date, vbms_field: @kase.efolder_ssoc5_date} %>
        <%= render partial: 'table_row', locals: {field_name: 'Form 9', vacols_field: @kase.bfd19_date, vbms_field: @kase.efolder_form9_date} %>

      </table>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= form_tag(action: :error) do %>
        <input type="submit" value="This case cannot be certified" class="btn btn-link"/>
        <button class="btn btn-primary pull-right" onclick="location.reload(); return false;">
          Refresh Page
        </button>
      <% end %>
    </div>
  </div>
</div>
