<%#
    Layout requires the following arguments
    - @kase: A Case object
%>

<% content_for :content do %>

<div id="certifications-header">
    <h2><%= @kase.correspondent.full_name %></h2>
    <div class="text-uc">
      Appeal ID <button type="submit" title="Copy to clipboard" class="usa-cf--apppeal-id" data-clipboard-text="<%= @kase.bfcorlid %>"><%= @kase.bfcorlid %></button>
    </div>
</div>

  <div>
    <div class="col col-md-2">
      <h4>Appeal Type</h4>
      <span><%= @kase.appeal_type %></span>
    </div>
    <div class="col col-md-2">
      <h4>File Type:</h4>
      <span><%= @kase.folder.file_type %></span>
    </div>
    <div class="col col-md-3">
      <h4>Representative:</h4>
      <span><%= @kase.initial_fields['8A_APPELLANT_REPRESENTED_IN_THIS_APPEAL_BY'] %></span>
    </div>
  </div>

<% end %>

<%= render template: 'layouts/basic' %>
