<%#
    Layout requires the following arguments
    - @kase: A Case object
%>

<% content_for :content do %>
  <div id="certifications-header" class="row">
    <div class="col col-md-3">
      <h2><%= @kase.correspondent.full_name %></h2>
    </div>
    <div class="col col-md-2">
      <h4>Appeal ID:</h4>
      <span><%= @kase.bfcorlid %></span>
    </div>
    <div class="col col-md-2">
      <h4>Appeal Type</h4>
      <span><%= @kase.appeal_type %></span>
    </div>
    <div class="col col-md-2">
      <h4>File Type:</h4>
      <span><%= @kase.folder.file_type %></span>
    </div>
    <div class="col col-md-2">
      <h4>Representative:</h4>
      <span><%= @kase.initial_fields['8A_APPELLANT_REPRESENTED_IN_THIS_APPEAL_BY'] %></span>
    </div>
  </div>
  <hr/>
<% end %>

<%= render template: 'layouts/basic' %>
