<%#
    Layout requires the following arguments
    - kase: A Case object
%>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>CaseFlow</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>

<body>
<div class="container">
  <div id="certifications-header" class="row">
    <div class="col col-md-3">
      <h2><%= kase.correspondent.full_name %></h2>
    </div>
    <div class="col col-md-2">
      <h4>Appeal ID:</h4>
      <span><%= kase.bfcorlid %></span>
    </div>
    <div class="col col-md-2">
      <h4>Appeal Type</h4>
      <span><%= kase.appeal_type %></span>
    </div>
    <div class="col col-md-2">
      <h4>File Type:</h4>
      <span><%= kase.folder.file_type %></span>
    </div>
    <div class="col col-md-2">
      <h4>Attorney:</h4>
      <span><%= kase.initial_fields['8A_APPELLANT_REPRESENTED_IN_THIS_APPEAL_BY'] %></span>
    </div>
  </div>
  <hr/>
  <div>
    <%= yield %>
  </div>
</div>
</body>
