<%#
    Layout requires the following arguments
    - @kase: A Case object
%>

<% content_for :content do %>

<div id="certifications-header" class="usa-cf_app-segment">
    <h2 class="push-left"><%= @kase.correspondent.full_name %></h2>
    <div class="text-uc usa-cf--apppeal-id-control push-right">
      Appeal ID &nbsp;
      <button type="submit" title="Copy to clipboard" class="usa-cf--apppeal-id" data-clipboard-text="<%= @kase.bfcorlid %>">
          <%= @kase.bfcorlid %>
          <svg width="21px" class="usa-cf--apppeal-id-icon" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Final" transform="translate(-1087.000000, -109.000000)" fill="#5B616B">
                      <g id="Group" transform="translate(901.000000, 103.000000)">
                          <path d="M199.346387,8.5776706 L196.682137,8.5776706 L196.682137,7.2888353 C196.682137,6.58362353 196.07891,6 195.350011,6 L192.660626,6 C191.931728,6 191.328501,6.58362353 191.328501,7.2888353 L191.328501,8.5776706 L188.664251,8.5776706 L188.664251,11.1553412 L199.346387,11.1553412 L199.346387,8.5776706 L199.346387,8.5776706 Z M195.324877,8.5776706 L192.660626,8.5776706 L192.660626,7.2888353 L192.660626,7.2888353 L195.324877,7.2888353 L195.324877,7.2888353 L195.324877,8.5776706 L195.324877,8.5776706 Z M202.010638,12.4684941 L202.010638,9.23424707 C202.010638,8.86948236 201.709024,8.5776706 201.332008,8.5776706 L199.999882,8.5776706 L199.999882,9.8665059 L200.678512,9.8665059 L200.678512,12.4441765 L192.660626,12.4441765 L192.660626,21.4903412 L187.332125,21.4903412 L187.332125,9.8665059 L188.010755,9.8665059 L188.010755,8.5776706 L186.67863,8.5776706 C186.301613,8.5776706 186,8.86948236 186,9.23424707 L186,22.1469177 C186,22.5116824 186.301613,22.8034942 186.67863,22.8034942 L192.685761,22.8034942 L192.685761,26.6700001 L202.035772,26.6700001 L206.032148,22.8034942 L206.032148,12.4684941 L202.010638,12.4684941 L202.010638,12.4684941 Z M202.010638,24.8461765 L202.010638,22.8034942 L204.12193,22.8034942 L202.010638,24.8461765 L202.010638,24.8461765 Z M204.674888,21.4903412 L200.678512,21.4903412 L200.678512,25.3568471 L193.992752,25.3568471 L193.992752,13.7573294 L204.674888,13.7573294 L204.674888,21.4903412 L204.674888,21.4903412 Z" id="Shape-Copy" sketch:type="MSShapeGroup"></path>
                      </g>
                  </g>
              </g>
          </svg>
      </button>
    </div>
</div>

  <div class="usa-cf_app-segment">
    <div class="usa-cf_app-3-up usa-cf_app-3-up--bordered text-center">
        <section>
          <h4 class="text-uc usa-cf_app-3-up-title">Appeal Type</h4>
          <p class="usa-cf_app-3-up-text"><%= @kase.appeal_type %></p>
        </section>
        <section>
          <h4 class="text-uc usa-cf_app-3-up-title usa-cf_app-3-up-title">File Type:</h4>
          <p class="usa-cf_app-3-up-text"><%= @kase.folder.file_type %></p>
        </section>
        <section>
          <h4 class="text-uc usa-cf_app-3-up-title">Representative:</h4>
          <p class="usa-cf_app-3-up-text"><%= @kase.initial_fields['8A_APPELLANT_REPRESENTED_IN_THIS_APPEAL_BY'] %></p>
        </section>
    </div>
  </div>

<% end %>

<%= render template: 'layouts/basic' %>
