<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Caseflow</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>

<body>
      <header>
          <div class="pilot-warning">
              Caseflow is a pilot stage project
          </div>

          <nav class="usa-cf_app-nav">
              <div class="usa-grid-full">
                  <b class="usa-cf_app-logo">Caseflow</b>
                  <span class="cf-application-title">Title Placeholder</span>

                  <div class="dropdown">
                      <% if session[:ro] || session[:username] %>
                          <a href="#menu" class="dropdown-trigger">
                              <% if session[:username] %>
                              <%= session[:username] %><% if session[:ro] %> (<%= session[:ro] %>)<% end %>
                              <% else %>
                              <%= session[:ro] %>
                              <% end %>
                              <span class="caret"></span>
                          </a>
                          <% end %>
                        <ul id="menu" class="dropdown-menu">
                          <li><a href="/caseflow/logout">Sign out</a></li>
                        </ul>
                  </div>
              </div>
          </nav>

      </header>


  <main class="usa-grid">
      <div class="usa-cf_app">
          <%= yield(:content) if content_for?(:content) %>
          <%= yield %>
      </div>
  </main>

    <footer class="text-center usa-grid usa-cf_app-footer">
        <p>
            Built with <abbr title="love">&#9825;</abbr> by the <a href="http://www.va.gov/ds/">Digital Service at the <abbr title="Department of Veterans Affairs">VA</abbr></a>.
        </p>
    </footer>

  <%= javascript_include_tag 'clipboard' %>
  <%= javascript_include_tag 'application' %>

</body>


</html>
